<se-container display="block" style="overflow: visible" padding="large">
  <se-block>
    <se-container padding="medium">
      <se-block>
        <h3 i18n>Customer List</h3>
      </se-block>
      <a>
        <se-button
          class="create-button"
          option="raised"
          color="primary"
          icon="new_project"
          i18n
        >
          Create Customer
        </se-button>
      </a>
    </se-container>
  </se-block>
  <se-container display="grid" rowSize="5rem" style="overflow: visible">
    <se-block enlarged="horizontal"> </se-block>
    <app-customer-search></app-customer-search>
  </se-container>
</se-container>
